In [4]:
import mysql.connector
db = mysql.connector.connect(host="bankdb.c60n9iezxsoo.us-east-1.rds.amazonaws.com", user="admin", passwd="Dannylonglegs19",database ='date_db')
my_curs = db.cursor()
#database ='date_db'
#database ='date_db'

In [2]:
my_curs.execute("DROP DATABASE date_db")

In [3]:
my_curs.execute("CREATE DATABASE date_db;")

In [5]:
#my_curs = db.cursor()
#
with open("tables.ddl", "r") as file:
    data = file.read()
print(data)
for result in my_curs.execute(data,multi=True,params=None,):
    pass

CREATE TABLE branch (
  branch_name varchar(20) PRIMARY KEY,
  branch_city varchar(20),
  assets real check (assets >= 0)
);

CREATE TABLE customer (
  customer_name varchar(20) PRIMARY KEY,
  customer_street varchar(20),
  customer_city varchar(20)
);

CREATE TABLE account (
  account_number varchar(20),
  branch_name varchar(20),
  balance int check(balance > 0),
  PRIMARY KEY (account_number, branch_name),
  foreign key (branch_name) references branch(branch_name) on delete cascade
);

CREATE TABLE depositor (
  customer_name varchar(20),
  account_number varchar(20),
  PRIMARY KEY (customer_name, account_number),
  foreign key (customer_name) references customer(customer_name) on delete cascade,
  foreign key (account_number) references account(account_number) on delete cascade
);

CREATE TABLE loan (
  loan_number varchar(20) PRIMARY KEY,
  branch_name varchar(20),
  amount real check(amount >= 0),
  foreign key (branch_name) references branch(branch_name) on delete set null
);

CREATE TABLE borrower (
  customer_name varchar(20),
  loan_number varchar(20),
  PRIMARY KEY (customer_name, loan_number),
  foreign key (customer_name) references customer(customer_name) on delete cascade,
  foreign key (loan_number) references loan(loan_number) on delete cascade
);

RuntimeError: generator raised StopIteration

In [6]:
my_curs.execute("SELECT customer_name FROM customer;")
print(my_curs.fetchall())

[]